.App {
  text-align: center;
  flex-direction: column;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
}


.fill {
  flex: 1 1
}

.fit {
  flex: 0 1
}

.center {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: center;
}

.board {
  background-image: url("./images/board.svg");
  background-position: center; /* Center the image */  
  min-height: 800px; /* You must set a specified height */
  max-width: 800px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

.board-item {
  font-size: 48px;
  width: 266px;
  height: 266px;
}

.board-item:hover {
  background-color:rgba(155, 155, 155, 0.3);
}
